<mat-toolbar color="primary">
  <!--img src="../../../assets/Images/user.png" height="50" width="50" alt=""-->
  <!--button type="button" class="example-icon" 
    aria-label="Example icon-button with menu icon" 
    mat-icon-button
  >
    <mat-icon>menu</mat-icon>
  </button-->
  <ng-content></ng-content>
  <!-- <img src="../../../assets/Images/user.png" height="50" width="50" alt=""> -->
  <span>&nbsp;&nbsp; UserDashBoard</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <a href="/signin" class="link"> Sign In </a><p style="padding: 10px; margin-top: 10px;">|</p><a href="/signup" class="link" style="padding: 5px;">Sing Up </a>
</mat-toolbar>