<div>
    <div>
        <h1 class="username" *ngIf="listUsers">Displaying {{ listUsers.length }} Users</h1>
    </div>
    <mat-card-content>
        <table mat-table [dataSource]="listUsers" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- User Name Column -->
            <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>
        
            <!-- Email Column -->
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email Address </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink] = "['/userdashboard/view', element.id]">View</a> | 
                    <a class="action-Link" [routerLink] = "['/userdashboard/edit', element.id]">Edit</a> | 
                    <a class="action-Link" [routerLink] = "['/userdashboard/delete', element.id]">Delete</a>
                </td>
                </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</div>  


<!-- <div>
    <mat-card class="space" role="listitem" *ngFor = "let user of listUsers">
        <mat-card-title>{{ user.userName }}</mat-card-title>
        <mat-card-content>{{ user.email }}</mat-card-content>
        <mat-card-actions>
            <a class="action-Link" [routerLink] = "['/users/view', user.id]">view</a> | <a class="action-Link" [routerLink] = "['/users/edit', user.id]">Edit</a>  | <a class="action-Link" [routerLink] = "['/users/delete', user.id]">Delete</a>
        </mat-card-actions>
    </mat-card>
</div> -->
  