.username {
    margin-left: 450px;
}
.action-Link {
    padding: 10px;
}
.space{
    max-width: 450px;
    margin-left: 450px;
    margin-bottom: 10px;
}
table {
    width: 95%;
    margin-left: 30px;
}
  