<p>userdashboard works!</p>
<!--
<app-header>
  <button type="button" mat-button (click)="drawer.toggle()">
    <img src="../../../assets/Images/user.png" height="50" width="50" alt="">
  </button>
</app-header> 
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" class="sidebar" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer> 
-->